</div>
</div>
</div>
<footer class="page-footer font-small blue fixed-bottom">

    <!-- <div class="footer-copyright text-center py-3">© 2019 Copyright -->
     <!--    :
        <a href="#"> Github</a> -->
    </div>

</footer>
</body>
<script>
    let today = new Date().toISOString().substr(0, 10);
    document.querySelector("#date").value = today;
</script>

</html>